<label class="app-input">
  <input value="{{value}}" class="app-input__textfield {{stateClass}}" type="{{type}}" data-event>
  <div class="app-input__placeholder">
    <span>{{placeholder}}</span>
  </div>
  {{#if error}}
  <div class="app-input__error">
    {{error}}
  </div>
  {{/if}}
</label>