<div class="auth">
  <div class="container auth__container">
    <div class="auth__content">
      <h1 class="auth__title">Регистрация</h1>
      <div class="auth__body">
        <form class="form">
          <ul class="form__list">
            <li class="form__item">
              {{{ mailInput }}}
            </li>
            <li class="form__item">
              {{{ loginInput }}}
            </li>
            <li class="form__item">
              {{{ nameInput }}}
            </li>
            <li class="form__item">
              {{{ lastNameInput }}}
            </li>
            <li class="form__item">
              {{{ phoneInput }}}
            </li>
            <li class="form__item">
              {{{ passwordInput }}}
            </li>
          </ul>
          <div class="form__button">
            {{{ button }}}
          </div>
        </form>
        <a href="./login.html" class="auth__link">Войти</a>
      </div>
    </div>
  </div>
</div>