<ul class="chat-list">
  {{#each chatList}}
  <li class="chat-list__item">
    <button class="sidebar-item {{this.activeClass}}">
      <div class="sidebar-item__wrapper">
        <div class="sidebar-item__block">
          <div class="sidebar-item__avatar">
            {{#if this.image}}
            <img src="{{this.image}}" class="sidebar-item__image">
            {{/if}}
          </div>
          <div class="sidebar-item__text-block">
            <h3 class="sidebar-item__chat-name">{{this.chatName}}</h3>
            <div class="sidebar-item__user-text">
              {{#if this.sender}}
              <p class="sidebar-item__sender">{{this.sender}}:</p>
              {{/if}}
              <span>
                {{this.message}}
              </span>
            </div>
          </div>
        </div>
        <div class="sidebar-item__block">
          <div class="sidebar-item__remove">
            <i class="sidebar-item__icon fa-solid fa-xmark"></i>
          </div>
          <div class="sidebar-item__time">
            <p>{{this.time}}</p>
          </div>
          {{#if this.notificationCount}}
          <div class="sidebar-item__notification">{{this.notificationCount}}</div>
          {{/if}}
        </div>
      </div>
    </button>
  </li>
  {{/each}}
</ul>