<ul class="chat-list">
  {{#each chatList}}
  <li class="chat-list__item {{this.activeClass}}" data-id="{{this.id}}">
    <button class="sidebar-item">
      <div class="sidebar-item__wrapper">
        <div class="sidebar-item__block">
          <div class="sidebar-item__avatar">
            {{#if this.last_message.user.avatar}}
            <img src="https://ya-praktikum.tech/api/v2/resources/{{this.last_message.user.avatar}}"
              class="sidebar-item__image">
            {{/if}}
          </div>
          <div class="sidebar-item__text-block">
            <h3 class="sidebar-item__chat-name">{{this.title}}</h3>
            <div class="sidebar-item__user-text">
              {{#if this.last_message}}
              <p class="sidebar-item__sender">{{this.last_message.user.first_name}}
                {{this.last_message.user.second_name}}:</p>
              <span>
                {{this.last_message.content}}
              </span>
              {{else}}
              <p>Напишите что-нибудь</p>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="sidebar-item__block">
          <div class="sidebar-item__remove" data-id="{{this.id}}">
            <i class="sidebar-item__icon fa-solid fa-xmark"></i>
          </div>
          <div class="sidebar-item__time">
            <p>{{this.time}}</p>
          </div>
          {{#if this.unread_count}}
          <div class="sidebar-item__notification">{{this.unread_count}}</div>
          {{/if}}
        </div>
      </div>
    </button>
  </li>
  {{/each}}
</ul>