<div class="modal profile-modal">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <ul class="modal-content__list">
      <li class="modal-content__item">
        {{{ emailCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ loginCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ first_nameCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ second_nameCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ display_nameCardRowInput }}}
      </li>
      <li class="modal-content__item">
        {{{ phoneCardRowInput }}}
      </li>
    </ul>
    <div class="modal-content__button">
      {{{ button }}}
    </div>
  </div>
</div>