<div class="modal profile-modal">
  <div class="modal__backdrop"></div>
  <div class="modal-content">
    <ul class="modal-content__list">
      <li class="modal-content__item">
        {{{ cardRowInputEmail }}}
      </li>
      <li class="modal-content__item">
        {{{ cardRowInputLogin }}}
      </li>
      <li class="modal-content__item">
        {{{ cardRowInputName }}}
      </li>
      <li class="modal-content__item">
        {{{ cardRowInputLastName }}}
      </li>
      <li class="modal-content__item">
        {{{ cardRowInputDisplayName }}}
      </li>
      <li class="modal-content__item">
        {{{ cardRowInputPhone }}}
      </li>
    </ul>
    <div class="modal-content__button">
      {{{ button }}}
    </div>
  </div>
</div>