<div class="user-card">
  {{{ backButton }}}
  <div class="container user-card__container">
    <div class="user-card__body">
      <div class="user-card__avatar">
        {{{ avatar }}}
      </div>
      <div class="user-card__name">{{{ title }}}</div>
      <ul class="user-card__list">
        <li class="user-card__item">
          {{{ cardRowMail }}}
        </li>
        <li class="user-card__item">
          {{{ cardRowLogin }}}
        </li>
        <li class="user-card__item">
          {{{ cardRowName }}}
        </li>
        <li class="user-card__item">
          {{{ cardRowLastName }}}
        </li>
        <li class="user-card__item">
          {{{ cardRowChatName }}}
        </li>
        <li class="user-card__item">
          {{{ cardRowPhone }}}
        </li>
      </ul>
      <ul class="user-card__list">
        <li class="user-card__item">
          {{{ buttonChange }}}
        </li>
        <li class="user-card__item">
          {{{ buttonPassword }}}
        </li>
        <li class="user-card__item">
          {{{ buttonLogout }}}
        </li>
      </ul>
    </div>
  </div>
  {{{ profileModal }}}
  {{{ passwordModal }}}
  {{{ avatarModal }}}
</div>